<h1>글 입력</h1>
<form action="/iseo-in/add-post" method="POST">
  <label for="title">제목</label>
  <input type="text" id="title" name="title">
  <label for="content">내용</label>
  <input type="text" id="content" name="content">
  <button type="submit">글 생성하기</button>
</form>