<h1>블로그 글 목록</h1>

<ul>
  <li><a href="/iseo-in/post-form">글 생성 페이지로 이동</a></li>
</ul>
<ul>
  <% for (let i = 0; i < data.length; i++) { %>
    <li><a href="/iseo-in/posts/<%= data[i].id %>"><%= data[i].title %></a></li>
  <% } %>
</ul>